<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396874083132-7q5eu39rvcv4str14fiis3ndr4mqn8eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396874083132-7q5eu39rvcv4str14fiis3ndr4mqn8eg</string>
	<key>API_KEY</key>
	<string>AIzaSyCb43I74tyqMvHVA9zGdqTdPPRIzB6PDK4</string>
	<key>GCM_SENDER_ID</key>
	<string>396874083132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appzler.shopzler.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-d65c0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-d65c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396874083132:ios:127da8225a021442b34c39</string>
</dict>
</plist>